<template>
  <div class="app-container">
    <div class="filter-container">
      <el-select
        style="width:200px;"
        v-model="listQuery.status"
        class="filter-item"
        placeholder="Filter By Status"
        @change="handleFilter"
        :clearable="true"
      >
        <el-option label="All" value="all"/>
        <el-option label="Started" value="started"/>
        <el-option label="Waiting" value="waiting"/>
        <el-option label="Requested" value="requested"/>
      </el-select>
      <el-select
        style="width:200px;"
        v-model="listQuery.activity"
        placeholder="Filter By Activity"
        class="filter-item"
        @change="handleFilter"
        :clearable="true"
      >
        <el-option
          v-for="activity in activities"
          :key="activity.id"
          :label="activity.name"
          :value="activity.id"
        />
      </el-select>
      <el-select
        style="width:200px;"
        v-model="listQuery.gov"
        class="filter-item"
        placeholder="Filter By Gov"
        @change="handleFilter"
        :clearable="true"
      >
        <el-option v-for="gov in govs" :key="gov.id" :label="gov.name" :value="gov.id"/>
      </el-select>
      <el-date-picker
        v-model="listQuery.dateRange"
        style="margin-bottom: 10px;"
        type="daterange"
        start-placeholder="Start Date"
        end-placeholder="End Date"
        :unlink-panels="true"
        @change="handleFilter"
      ></el-date-picker>
    </div>
    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      fit
      highlight-current-row
    >
      <el-table-column label="Challenger">
        <template slot-scope="scope">{{ scope.row.challenger.name }}</template>
      </el-table-column>
      <el-table-column align="center" label="Activity">
        <template slot-scope="scope">
          <el-tag>{{ scope.row.activity.name }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="Gov">
        <template slot-scope="scope">
          <el-tag>{{ scope.row.gov.name }}</el-tag>
        </template>
      </el-table-column>

      <el-table-column label="Status">
        <template slot-scope="scope">
          <el-tag :type="scope.row.status | statusFilter">{{ scope.row.status}}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="Matches" align="center">
        <template slot-scope="scope">
          <el-button @click="showMatches(scope.row.id)">{{ scope.row.matches.length}}</el-button>
        </template>
      </el-table-column>
      <el-table-column label="Challenge At">
        <template
          slot-scope="scope"
        >{{ scope.row.challenge_at ? scope.row.challenge_at : 'Not Set' }}</template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="listQuery.page"
      :limit.sync="listQuery.limit"
      @pagination="getList"
    />

    <el-dialog v-loading="membersLoading" title="Members" :visible.sync="showMembersDialog">
      <el-table :data="members" fit highlight-current-row>
        <el-table-column label>
          <template slot-scope="scope">
            <img :src="scope.row.avatar" class="avatar">
          </template>
        </el-table-column>
        <el-table-column label="Name">
          <template slot-scope="scope">{{ scope.row.matchable.name }}</template>
        </el-table-column>

        <el-table-column label="Selected">
          <template slot-scope="scope">
            <el-tag
              :type="scope.row.selected ? 'success' : ''"
            >{{ scope.row.selected ? 'selected' : 'not selected' }}</el-tag>
          </template>
        </el-table-column>
      </el-table>
      <div slot="footer" class="dialog-footer">
        <el-button @click="showMembersDialog = false">Close</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { fetchList, matches } from "@/api/challenges";
import { fetchList as getGovs } from "@/api/govs";
import { fetchList as getActivities } from "@/api/activities";
import pagination from "@/components/Pagination";

console.log(pagination);
export default {
  filters: {
    statusFilter(status) {
      const statusMap = {
        started: "success",
        waiting: "warning",
        requested: ""
      };
      return statusMap[status];
    }
  },
  data() {
    return {
      list: null,
      listLoading: true,
      total: 0,
      govs: [],
      activities: [],
      showMembersDialog: false,
      membersLoading: false,
      members: [],
      listQuery: {
        page: 1,
        limit: 10,
        activity: "",
        gov: "",
        user_id: "",
        status: "all",
        dateRange: []
      }
    };
  },
  created() {
    this.checkRouteFilters();

    this.getList();

    this.lazyLoadGovs();
    this.lazyLoadActivities();
  },
  methods: {
    checkRouteFilters() {
      if (
        "filterType" in this.$route.params &&
        "filter" in this.$route.params
      ) {
        this.listQuery[
          this.$route.params.filterType
        ] = this.$route.params.filter;
      }

      console.log(this.listQuery);
      if ("id" in this.$route.params) {
        this.listQuery.user_id = this.$route.params.id;
      }
    },
    getList() {
      this.listLoading = true;
      fetchList(this.listQuery).then(response => {
        console.log(response);
        this.list = response.data;
        this.total = response.total;
        this.listLoading = false;
      });
    },
    showMatches(id) {
      this.showMembersDialog = true;
      this.membersLoading = true;
      this.members = [];
      matches(id).then(members => {
        this.members = members;
        this.membersLoading = false;
      });
    },
    handleFilter() {
      this.listQuery.page = 1;
      this.getList();
    },
    lazyLoadGovs() {
      getGovs().then(response => {
        this.govs = response;
      });
    },
    lazyLoadActivities() {
      getActivities().then(response => {
        this.activities = response;
      });
    }
  },
  components: {
    pagination
  }
};
</script>
