<template>
  <div class="app-container">
    <courts :showProvider="true"></courts>
  </div>
</template>

<script>
import Courts from "@/components/Courts";

export default {
  components: {
    Courts
  }
};
</script>

<style>
</style>
