<template>
  <div class="app-container">
    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      fit
      highlight-current-row
    >
      <el-table-column label>
        <template slot-scope="scope">
          <img :src="scope.row.user.avatar" class="avatar">
        </template>
      </el-table-column>
      <el-table-column label="Name">
        <template slot-scope="scope">{{ scope.row.user.name }}</template>
      </el-table-column>

      <el-table-column label="Email">
        <template slot-scope="scope">{{ scope.row.user.email }}</template>
      </el-table-column>
      <el-table-column label="at">
        <template slot-scope="scope">{{ scope.row.created_at }}</template>
      </el-table-column>
      <el-table-column label="status">
        <template slot-scope="scope">
          <el-badge is-dot class="item" :class="(scope.row.resolved) ? 'success' : 'info'"></el-badge>
        </template>
      </el-table-column>
      <el-table-column
        label="Actions"
        align="center"
        width="230"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button
            type="primary"
            size="mini"
            @click="showResolver(scope.row)"
          >{{ scope.row.resolved ? 'Show' : 'Resolve'}}</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog title="New Provider" :visible.sync="dialogFormVisible">
      <el-form
        ref="dataForm"
        :rules="rules"
        :model="temp"
        label-position="left"
        label-width="70px"
        style="    width: 70%;
    margin: auto;"
      >
        <el-card
          style="margin-bottom:20px;"
          shadow="never"
          class="box-card"
        >{{currentInquery.content }}</el-card>
        <el-card
          style="margin-bottom:20px;"
          shadow="never"
          class="box-card"
          v-if="currentInquery.reply"
        >{{currentInquery.reply }}</el-card>
        <el-form-item label="Reply" prop="reply" v-if="!currentInquery.reply">
          <el-input
            type="textarea"
            :autosize="{ minRows: 2, maxRows: 4}"
            v-model="temp.reply"
            label="Name"
            prop="name"
          ></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="close">Cancel</el-button>
        <el-button type="primary" @click="resolve" :loading="loading" v-if="!currentInquery.reply">Resolve</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { fetchList, resolve } from "@/api/inquery";

export default {
  data() {
    return {
      list: null,
      currentInquery: {},
      listLoading: true,
      dialogFormVisible: false,
      loading: false,
      temp: {
        reply: "",
        id: 0
      },
      rules: {
        reply: [
          {
            required: true,
            message: "You Must Type a reply",
            trigger: "change"
          }
        ]
      },
      listQuery: {
        page: 1,
        limit: 10
      }
    };
  },
  created() {
    this.getList();
  },
  methods: {
    getList() {
      this.listLoading = true;
      fetchList(this.listQuery).then(response => {
        this.list = response.data;
        this.listLoading = false;
      });
    },
    showResolver(row) {
      this.currentInquery = row;

      this.dialogFormVisible = true;
    },

    close() {
      this.dialogFormVisible = false;

      this.temp.reply = "";
    },
    resolve() {
      this.loading = true;

      this.temp.id = this.currentInquery.id;

      resolve(this.temp).then(() => {

        let y = this.list.find(l => {
            return l.id == this.currentInquery.id;
        });

        if(y){
          y.resolved = true;
        }
        this.loading = false;

      this.dialogFormVisible = false;

        this.$notify({
          title: "Resolved",
          message: "Reply Sent",
          type: "success",
          duration: 2000
        });
      });
    }
  }
};
</script>


<style>
.avatar {
  border-radius: 100%;
  min-width: 40px;
  min-height: 40px;
  max-height: 40px;
  max-width: 40px;
}

.success .is-dot {
  background: #0bff0b;
}
.info .is-dot {
  background: grey;
}
</style>
