<template>
  <div class="dashboard-container">
    <panel-group></panel-group>

    <el-row
      v-loading="reservationsloading"
      style="background:#fff;padding:16px 16px 0;margin-bottom:32px;"
    >
      <line-chart :chart-data="reservationChartData"/>
    </el-row>
    <el-row
      v-loading="usersLoading"
      style="background:#fff;padding:16px 16px 0;margin-bottom:32px;"
    >
      <line-chart :chart-data="usersChartData"/>
    </el-row>
    <el-row
      v-loading="providersLoading"
      style="background:#fff;padding:16px 16px 0;margin-bottom:32px;"
    >
      <line-chart :chart-data="providersChartData"/>
    </el-row>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

import PanelGroup from "@/components/PanelGroup";
import LineChart from "@/components/LineChart";
import { overmonths as reservations } from "@/api/schedules";
import { overmonths as users } from "@/api/users";
import { overmonths as providers } from "@/api/providers";
export default {
  name: "Dashboard",
  data() {
    return {
      reservationsloading: true,
      usersLoading: true,
      providersLoading: true,
      reservationChartData: {
        name: "reservations",
        data: []
      },
      usersChartData: {
        name: "users",

        data: []
      },
      providersChartData: {
        name: "providers",

        data: []
      }
    };
  },

  created() {
    reservations().then(data => {
      this.reservationChartData.data = data;

      this.reservationsloading = false;
    });

    users().then(data => {
      this.usersChartData.data = data;

      this.usersLoading = false;
    });
    providers().then(data => {
      this.providersChartData.data = data;

      this.providersLoading = false;
    });
  },

  components: {
    PanelGroup,
    LineChart
  }
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>
