// Import Bulma's core
@import "~bulma/sass/utilities/_all"

// Set your colors
$primary: #8c67ef;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);


// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

ul
     list-style: none
body
     background-color: #ebedf1
.card
     border-radius: 5px
     .card-header-title
          color: #666666

// Import Bulma and Buefy styles
@import "~bulma"
@import "~buefy/src/scss/buefy"