<template>
  <div class="app-container">
    <div class="filter-container">
      <div class="filter-item">
        <el-input
          :placeholder="'Search By Name'"
          v-model="listQuery.searchKey"
          clearable
          style="width: 400px;"
          @keyup.enter.native="handleFilter"
          @clear="handleFilter"
        >
          <el-button type="primary" slot="append" icon="el-icon-search" @click="handleFilter"></el-button>
        </el-input>
      </div>
    </div>
    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      fit
      highlight-current-row
      @sort-change="sortChange"
    >
      <el-table-column align="center" prop="id" sortable="custom" label="ID" width="95">
        <template slot-scope="scope">{{ scope.row.id }}</template>
      </el-table-column>
      <el-table-column label="Name" prop="name" sortable="custom">
        <template slot-scope="scope">{{ scope.row.name }}</template>
      </el-table-column>
      <el-table-column label="Admin">
        <template slot-scope="scope">{{ scope.row.admin.name }}</template>
      </el-table-column>
      <el-table-column label="Members">
        <template slot-scope="scope">
          <el-button @click="showMembers(scope.row.id)">{{ scope.row.users.length }} members</el-button>
        </template>
      </el-table-column>
      <el-table-column label="Rating" prop="rate" sortable="custom" width="110" align="center">
        <template slot-scope="scope">
          <el-rate v-model="scope.row.rate" :disabled="true"></el-rate>
        </template>
      </el-table-column>
      <el-table-column label="Created Date" prop="created_at" sortable="custom">
        <template slot-scope="scope">{{ scope.row.created_at }}</template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="listQuery.page"
      :limit.sync="listQuery.limit"
      @pagination="getList"
    />

    <el-dialog title="New Provider" :visible.sync="dialogFormVisible">
      <el-form
        ref="dataForm"
        :rules="rules"
        :model="temp"
        label-position="left"
        label-width="70px"
        style="width: 400px; margin-left:50px;"
      >
        <el-form-item label="Name" prop="name">
          <el-input v-model="temp.name"/>
        </el-form-item>
        <el-form-item label="Memebers" prop="email">
          <el-input v-model="temp.email"/>
        </el-form-item>
        <el-form-item label="Phone Num" prop="phone_number">
          <el-input v-model="temp.phone_number"/>
        </el-form-item>
        <el-form-item label="Password" prop="password">
          <el-input v-model="temp.password"/>
        </el-form-item>

        <el-form-item label="Government" prop="gov">
          <el-select v-model="temp.gov" class="filter-item" placeholder="Please select">
            <el-option v-for="gov in govs" :key="gov.id" :label="gov.name" :value="gov.id"/>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">Cancel</el-button>
        <el-button type="primary" @click="createProvider">Create</el-button>
      </div>
    </el-dialog>

    <el-dialog v-loading="membersLoading" title="Members" :visible.sync="showMembersDialog">
      <el-table :data="members" fit highlight-current-row>
        <el-table-column label>
          <template slot-scope="scope">
            <img :src="scope.row.avatar" class="avatar">
          </template>
        </el-table-column>
        <el-table-column align="center" label="ID">
          <template slot-scope="scope">{{ scope.row.id }}</template>
        </el-table-column>
        <el-table-column label="Name">
          <template slot-scope="scope">{{ scope.row.name }}</template>
        </el-table-column>

        <el-table-column label="Email">
          <template slot-scope="scope">{{ scope.row.email }}</template>
        </el-table-column>
      </el-table>
      <div slot="footer" class="dialog-footer">
        <el-button @click="showMembersDialog = false">Close</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { fetchList, members } from "@/api/communities";
import pagination from "@/components/Pagination";

export default {
  data() {
    return {
      list: null,
      govs: [],
      activities: [],
      listLoading: true,
      total: 0,
      dialogFormVisible: false,
      showMembersDialog: false,
      membersLoading: false,
      members: [],
      listQuery: {
        searchKey: "",
        searchBy: "name",
        sortBy: "id",
        sortOrder: "asc",
        limit: 20,
        page: 1,
        activity: "",
        gov: ""
      },
      temp: {
        name: "",
        email: "",
        phone_number: "",
        password: "",
        gov: 0
      },
      rules: {
        gov: [
          { required: true, message: "Gov is required", trigger: "change" }
        ],
        name: [
          {
            required: true,
            message: "Provider Name is required",
            trigger: "blur"
          }
        ],
        email: [
          {
            required: true,
            message: "Provider Email is required",
            trigger: "blur"
          }
        ],
        password: [
          {
            required: true,
            message: "Provider Password is required",
            trigger: "blur"
          }
        ]
      }
    };
  },
  created() {
    this.getList();
  },
  methods: {
    getList() {
      this.listLoading = true;
      fetchList(this.listQuery).then(response => {
        this.list = response.data;
        this.total = response.total;
        this.listLoading = false;
      });
    },
    handleFilter() {
      this.listQuery.page = 1;
      this.getList();
    },
    sortChange(data) {
      const { prop, order } = data;

      this.listQuery.sortBy = prop;
      if (order === "ascending") {
        this.listQuery.sortOrder = "asc";
      } else {
        this.listQuery.sortOrder = "desc";
      }

      this.handleFilter();
    },
    resetTemp() {
      this.temp = {
        name: "",
        email: "",
        phone_number: "",
        password: "",
        gov: this.govs[0]
      };
    },
    showMembers(id) {
      this.showMembersDialog = true;
      this.membersLoading = true;
      this.members = [];
      members(id).then(members => {
        this.members = members;
        this.membersLoading = false;
      });
    },
    handleCreate() {
      this.resetTemp();
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs["dataForm"].clearValidate();
      });
    },
    createProvider() {
      this.$refs["dataForm"].validate(valid => {
        if (valid) {
          createProvider(this.temp).then(() => {
            this.list.unshift(this.temp);
            this.dialogFormVisible = false;
            this.$notify({
              title: "Done",
              message: "Provider Has Been Created",
              type: "success",
              duration: 2000
            });
          });
        }
      });
    },
    goToDetail(id) {
      this.$router.push({ name: "ProviderDetail", params: { id } });
    }
  },
    components:{
    pagination
  }
};
</script>
