<template>
  <div class="app-container">
    <div class="filter-container">
      <el-button @click="handleCreate">New Activity</el-button>
    </div>
    <div style="margin-bottom:20px;" v-if="!listLoading">
      <el-row :gutter="32">
        <el-col :xs="24" :sm="24" :lg="12">
          <el-card shadow="never">
            <div slot="header">
              <span>providers</span>
            </div>
            <PieChart :opObj="providersChartOptions"></PieChart>
          </el-card>
        </el-col>
        <el-col :xs="24" :sm="24" :lg="12">
          <el-card shadow="never">
            <div slot="header">
              <span>Challenges</span>
            </div>
            <PieChart :opObj="challengesChartOptions"></PieChart>
          </el-card>
        </el-col>
      </el-row>
    </div>
    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      fit
      highlight-current-row
    >
      <el-table-column label="Icon">
        <template slot-scope="scope">
          <img :src="scope.row.icon" class="icon">
        </template>
      </el-table-column>
      <el-table-column label="Name">
        <template slot-scope="scope">{{ scope.row.name }}</template>
      </el-table-column>
      <el-table-column label="# Providers">
        <template slot-scope="scope">{{ scope.row.providers_count }}</template>
      </el-table-column>
      <el-table-column label="# Challenges">
        <template slot-scope="scope">{{ scope.row.challenges_count }}</template>
      </el-table-column>
      <el-table-column label="Show" min-width="150">
        <template slot-scope="scope">
          <el-button size="mini" @click="goToDetail('Providers' , scope.row.id)">Providers</el-button>
          <el-button size="mini" @click="goToDetail('Challenges' , scope.row.id)">Challenges</el-button>
        </template>
      </el-table-column>
      <el-table-column label="Actions">
        <template slot-scope="scope">
          <el-button type="danger" size="mini" @click="remove(scope.row)">Delete</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog title="New Activity" :visible.sync="dialogFormVisible">
      <el-form
        ref="dataForm"
        :rules="rules"
        :model="temp"
        label-position="left"
        label-width="70px"
        style="width: 400px; margin-left:50px;"
      >
        <el-form-item label="Name" prop="name">
          <el-input v-model="temp.name"/>
        </el-form-item>
        <el-form-item label="Icon" prop="icon">
          <el-upload
            action
            :on-change="changeIcon"
            :auto-upload="false"
            list-type="picture"
            :limit="1"
          >
            <el-button size="small" type="primary">Click to upload</el-button>
            <div slot="tip" class="el-upload__tip">Any Image Will Be Resized To Icon Size</div>
          </el-upload>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">Cancel</el-button>
        <el-button type="primary" @click="createActivity">Create</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { fetchList, create , remove } from "@/api/activities";
import PieChart from "@/components/PieChart";
import "firebase/storage";
import { scaleImage } from "@/utils/scaleImage";
export default {
  data() {
    return {
      list: null,
      listLoading: true,
      dialogFormVisible: false,
      providersChartOptions: {},
      challengesChartOptions: {},
      tempIcon: {},
      temp: {
        name: ""
      },
      rules: {
        name: [
          { required: true, message: "Name is required", trigger: "change" }
        ]
      }
    };
  },
  created() {
    this.getList();
  },
  methods: {
    getList() {
      this.listLoading = true;
      fetchList().then(response => {
        this.list = response;

        this.setChart();

        this.listLoading = false;
      });
    },

    handleCreate() {
      this.temp = { name: "", icon: "" };
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs["dataForm"].clearValidate();
      });
    },
    changeIcon({ url, uid }) {
      this.tempIcon = { url, uid };
      
    },
    createActivity() {
      this.$refs["dataForm"].validate(valid => {
        if (valid) {
          var storageRef = this.$firebase
            .storage()
            .ref()
            .child("/activities/" + this.tempIcon.uid);

const loading = this.$loading({
          lock: true,
          text: 'Creating Activity',
          background: 'rgba(0, 0, 0, 0.7)'
        });

          scaleImage(this.tempIcon.url, 50, 50).then(icon => {
            var uploadTask = storageRef.putString(icon, "data_url");

            uploadTask.on(
              "state_changed",
              () => {},
              () => {},
              () => {
                uploadTask.snapshot.ref.getDownloadURL().then(downloadURL => {
                  this.temp.icon = downloadURL;

                  this.saveToDb(loading);
                });
              }
            );
          });
        }
      });
    },

    remove(activity) {
      if (activity.challenges_count > 0 || activity.providers_count > 0) {
        this.$notify({
          title: "Can't Delete This Activity",
          message: "it has challenges or providers",
          type: "error",
          duration: 8000
        });
        return;
      }

            this.$confirm(`Are you sure to remove ${activity.name} ?`).then(_ => {
 this.list.splice(this.list.findIndex(ac => activity.id == ac.id), 1);

        remove({id : activity.id}).then(() => {
this.$notify({
          title: "Done",
          message: "Activity Has Been Removed",
          type: "success",
          duration: 2000
        });
        });
            });
     
    },
    saveToDb(loading) {
      create(this.temp).then(activity => {
        this.list.push({
          ...activity,
          challenges_count: 0,
          providers_count: 0
        });
        loading.close();
        this.dialogFormVisible = false;
        this.$notify({
          title: "Done",
          message: "Activity Has Been Created",
          type: "success",
          duration: 2000
        });

        this.setChart();
      });
    },
    goToDetail(route, filter) {
      this.$router.push({
        name: route,
        params: { filterType: "activity", filter }
      });
    },

    setChart() {
      this.providersChartOptions = this.chartStub("providers_count");
      this.challengesChartOptions = this.chartStub("challenges_count");
    },

    chartStub(measure) {
      return {
        tooltip: {
          trigger: "item",
          formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
          left: "center",
          bottom: "10",
          data: this.list.map(gov => gov.name)
        },
        calculable: true,
        series: [
          {
            type: "pie",
            roseType: "radius",
            radius: [15, 95],
            center: ["50%", "38%"],
            data: this.list.map(gov => {
              return { value: gov[measure], name: gov.name };
            }),
            animationEasing: "cubicInOut",
            animationDuration: 2600
          }
        ]
      };
    }
  },
  components: {
    PieChart
  }
};
</script>

<style>
.icon {
  width: 50px;
  border-radius: 100%;
}
</style>

