<template>
  <div>
    <div class="filter-container" v-if="showFilter">
      <div class="filter-item">
        <el-radio-group v-model="listQuery.approved" @change="handleFilter">
          <el-radio-button label>All</el-radio-button>
          <el-radio-button label="true">Approved</el-radio-button>
          <el-radio-button label="false">Pending</el-radio-button>
        </el-radio-group>
      </div>
      <div class="filter-item">
        <el-button @click="openCourtPopup = true;">New Court</el-button>
      </div>
    </div>
    <el-table
      v-loading="listLoading"
      :data="list"
      highlight-current-row
      element-loading-text="Loading"
      @sort-change="sortChange"
      style="width: 100%;padding-top: 15px;"
    >
      <el-table-column label="Image">
        <template slot-scope="scope">
          <img
            :src="scope.row.img ?scope.row.img : 'https://firebasestorage.googleapis.com/v0/b/catalysty-269e2.appspot.com/o/icons8-basketball-field-filled-80.png?alt=media&token=c7ac1531-44b1-4708-a164-3b0c69a79490'"
            class="court-img"
            @click="openImage(scope.row)"
          >
        </template>
      </el-table-column>
      <el-table-column label="Name">
        <template slot-scope="scope">{{ scope.row.name }}</template>
      </el-table-column>
      <el-table-column label="Provider" v-if="showProvider">
        <template slot-scope="scope">
          <el-button
            size="mini"
            @click="goToProvider(scope.row.provider.id)"
          >{{ scope.row.provider.name }}</el-button>
        </template>
      </el-table-column>

      <el-table-column label="# reservations">
        <template slot-scope="scope">{{ scope.row.schedules_count }}</template>
      </el-table-column>
      <el-table-column label="Price" align="center">
        <template slot-scope="scope">{{ scope.row.price }}</template>
      </el-table-column>
      <el-table-column label="Activity" align="center">
        <template slot-scope="scope">{{ scope.row.activity.name }}</template>
      </el-table-column>
      <el-table-column label="Status" align="center">
        <template slot-scope="scope">
          <el-tag
            :type="scope.row.approved ? 'success' : 'info' "
          >{{ scope.row.approved ? 'Approved' : 'Pending' }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="Action" width="195" align="center">
        <template slot-scope="scope">
          <div v-if="!scope.row.approved">
            <el-button type="primary" size="mini" @click="approve(scope.row)">Approve</el-button>
            <el-button type="danger" size="mini" @click="decline(scope.row)">Decline</el-button>
          </div>
          <div v-else>
            <el-button type="danger" size="mini" @click="remove(scope.row)">Remove</el-button>
          </div>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="listQuery.page"
      :limit.sync="listQuery.limit"
      @pagination="fetchData"
    />

    <el-dialog title="New Court" :visible.sync="openCourtPopup">
      <el-form
        ref="dataForm"
        :rules="rules"
        :model="temp"
        label-position="left"
        label-width="70px"
        style="width: 400px; margin-left:50px;"
      >
        <el-form-item label="Provider" prop="user_id">
          <el-autocomplete
            v-model="tempUser"
            :fetch-suggestions="searchProviders"
            placeholder="Select a Provider"
            @select="handleSelect"
          ></el-autocomplete>
        </el-form-item>
        <el-form-item label="Name" prop="name">
          <el-input v-model="temp.name"/>
        </el-form-item>
        <el-form-item label="Price" prop="price">
          <el-input type="number" v-model.number="temp.price"/>
        </el-form-item>
        <el-form-item label="Activity" prop="activity_id">
          <el-select v-model="temp.activity_id" placeholder="Select an Activity">
            <el-option
              v-for="activity in activities"
              :key="activity.id"
              :label="activity.name"
              :value="activity.id"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="Image (optional)" prop="image">
          <el-upload
            action
            :on-change="changeImage"
            :auto-upload="false"
            list-type="picture"
            :limit="1"
          >
            <el-button size="small" type="primary">Click to upload</el-button>
          </el-upload>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="openCourtPopup = false">Cancel</el-button>
        <el-button type="primary" @click="createCourt">Create</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { fetchList, approve, decline, remove, create } from "@/api/courts";
import "firebase/storage";
import { scaleImage } from "@/utils/scaleImage";
import { searchByName } from "@/api/providers";
import { fetchList as getActivities } from "@/api/activities";
import pagination from "@/components/Pagination";

export default {
  props: {
    showProvider: {
      default: false
    },
    showFilter: {
      default: true
    }
  },
  data() {
    return {
      list: null,
      listLoading: true,
      openCourtPopup: false,
      tempImage: {},
      activities: [],
      tempUser: "",
      temp: {
        name: "",
        price: null,
        imageUrl: null,
        activity_id: null,
        user_id: ""
      },
      rules: {
        user_id: [
          { required: true, message: "Provider is required", trigger: "change" }
        ],
        activity_id: [
          { required: true, message: "Activity is required", trigger: "change" }
        ],
        name: [
          { required: true, message: "Name is required", trigger: "change" }
        ],
        price: [
          { required: true, message: "Price is required", trigger: "change" },
          {
            type: "number",
            message: "Price must be a number",
            trigger: "change"
          }
        ]
      },
      listQuery: {
        providerId: "",
        page: 1,
        limit: 10,
        sortBy: "id",
        sortOrder: "desc",
        approved: ""
      },
      total: 0
    };
  },
  created() {
    if ("id" in this.$route.params) {
      this.listQuery.providerId = this.$route.params.id;
    }

    this.fetchData();

    this.lazyLoadActivities();
  },
  methods: {
    fetchData() {
      this.listLoading = true;
      fetchList(this.listQuery).then(response => {
        this.list = response.data;

        this.total = response.total;

        this.listLoading = false;
      });
    },
    handleFilter() {
      this.listQuery.page = 1;
      this.fetchData();
    },
    sortChange(data) {
      const { prop, order } = data;

      this.listQuery.sortBy = prop;
      if (order === "ascending") {
        this.listQuery.sortOrder = "asc";
      } else {
        this.listQuery.sortOrder = "desc";
      }

      this.handleFilter();
    },
    openImage(row) {
      let img = row.img
        ? row.img
        : "https://firebasestorage.googleapis.com/v0/b/catalysty-269e2.appspot.com/o/icons8-basketball-field-filled-80.png?alt=media&token=c7ac1531-44b1-4708-a164-3b0c69a79490";
      this.$alert(`<img src="${img}" />`, row.name, {
        dangerouslyUseHTMLString: true
      });
    },
    approve(court) {
      court.approved = true;

      approve(court.id);
    },
    handleSelect(item) {
      this.temp.user_id = item.link;
    },
    changeImage({ url, uid }) {
      this.tempImage = { url, uid };
    },
    lazyLoadActivities() {
      getActivities().then(response => {
        this.activities = response;
      });
    },
    searchProviders(queryString, cb) {
      searchByName({ name: queryString }).then(providers => {
        providers = providers.map(provider => {
          return { value: provider.name, link: provider.id };
        });
        cb(providers);
      });
    },
    createCourt() {
      this.$refs["dataForm"].validate(valid => {
        if (valid) {
          const loading = this.$loading({
            lock: true,
            text: "Creating Court",
            background: "rgba(0, 0, 0, 0.7)"
          });
          if (this.tempImage.uid) {
            var storageRef = this.$firebase
              .storage()
              .ref()
              .child("/courts/" + this.tempImage.uid);

            scaleImage(this.tempImage.url, 250, 250).then(img => {
              var uploadTask = storageRef.putString(img, "data_url");

              uploadTask.on(
                "state_changed",
                () => {},
                () => {},
                () => {
                  uploadTask.snapshot.ref.getDownloadURL().then(downloadURL => {
                    this.temp.imageUrl = downloadURL;

                    this.saveToDb(loading);
                  });
                }
              );
            });
          } else {
            this.saveToDb(loading);
          }
        }
      });
    },
    saveToDb(loading) {
      create(this.temp).then(court => {
        this.list.unshift({
          ...court
        });
        loading.close();
        this.openCourtPopup = false;
        this.$notify({
          title: "Done",
          message: "Court Has Been Created",
          type: "success",
          duration: 2000
        });
      });
    },
    decline(row) {
      this.$confirm(`Are you sure to decline ${row.name} court request ?`).then(
        _ => {
          this.list.splice(this.list.indexOf(row), 1);
          decline(row.id).then(() => {
            this.$notify({
              title: "Done",
              message: `Court ${row.name} request Has Been Declined`,
              type: "success",
              duration: 4000
            });
          });
        }
      );
    },
    remove(row) {
      if (row.schedules_count > 0) {
        this.$notify({
          title: "Can't Delete This Court",
          message: "it has reservations",
          type: "error",
          duration: 8000
        });
        return;
      }

      this.$confirm(`Are you sure to delete ${row.name} court ?`).then(_ => {
        this.list.splice(this.list.indexOf(row), 1);
        remove(row.id).then(() => {
          this.$notify({
            title: "Done",
            message: `Court ${row.name} Has Been Removed`,
            type: "success",
            duration: 4000
          });
        });
      });
    },
    goToProvider(id) {
      this.$router.push({ name: "ProviderDetail", params: { id } });
    }
  },
  components: {
    pagination
  }
};
</script>

<style>
.court-img {
  min-width: 80px;
  min-height: 80px;
  max-height: 80px;
  max-width: 80px;
}
</style>

