<template>
  <div class="app-container">
    <el-card class="panel" v-loading="loading">
      <el-row :gutter="8" v-if="!loading">
        <el-col
          :xs="{span: 24}"
          :sm="{span: 24}"
          :md="{span: 24}"
          :lg="{span: 6}"
          :xl="{span: 12}"
          style="padding-right:8px;margin-bottom:30px;"
        >
          <img :src="user.avatar" alt>
        </el-col>
        <el-col
          :xs="{span: 24}"
          :sm="{span: 12}"
          :md="{span: 12}"
          :lg="{span: 12}"
          :xl="{span: 6}"
          style="margin-bottom:30px;"
        >
          <h2>{{user.name}}</h2>

          <el-tag>{{ user.email }}</el-tag>
        </el-col>
      </el-row>
    </el-card>

     <el-card :body-style="{padding : '0'}" shadow="never" style="margin-bottom:30px;">
          <div slot="header">
            <span>Challenges</span>
          </div>
          <Challenges :showFilter="false"></Challenges>
        </el-card>
       
 <el-card  style="margin-bottom:30px;" :body-style="{padding : '0'}" shadow="never" >
      <div slot="header">
        <span>Schedules</span>
      </div>
      <schedules :showUser="false"></schedules>
    </el-card>
  
   
  </div>
</template>

<script>
import Schedules from "@/components/Schedules";
import Challenges from "@/views/challenges";
import Communities from "@/views/communities";
import { get } from "@/api/users";
export default {
  data() {
    return {
      loading: true,
      user: null
    };
  },
  methods: {
    loadUser() {
      get(this.$route.params.id).then(user => {
        this.user = user;

        this.loading = false;
      });
    }
  },
  created() {
    this.loadUser();
  },
  components: {
    Schedules,
    Challenges,
    Communities
  }
};
</script>

<style lang="scss">
.panel {
  margin-bottom: 60px;
  min-height: 200px;
  img {
    border-radius: 100%;
    border: 5px solid gainsboro;
    min-width: 120px;
    max-width: 120px;
  }
}
</style>

