<template>
  <div class="app-container">
    <div class="filter-container">
      <div class="filter-item">
        <el-input
          :placeholder="'Search By ' + listQuery.searchBy"
          v-model="listQuery.searchKey"
          clearable
          style="width: 400px;"
          @keyup.enter.native="handleFilter"
          @clear="handleFilter"
        >
          <el-select
            style="width:100px;"
            v-model="listQuery.searchBy"
            slot="prepend"
            placeholder="Select"
          >
            <el-option label="Name" value="name"></el-option>
            <el-option label="Email" value="email"></el-option>
            <el-option label="Number" value="phone_number"></el-option>
          </el-select>
          <el-button type="primary" slot="append" icon="el-icon-search" @click="handleFilter"></el-button>
        </el-input>
      </div>
    </div>
    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      fit
      highlight-current-row
    >
      <el-table-column label>
        <template slot-scope="scope">
          <img :src="scope.row.avatar" class="avatar">
        </template>
      </el-table-column>
      <el-table-column align="center" label="ID" width="95">
        <template slot-scope="scope">{{ scope.row.id }}</template>
      </el-table-column>
      <el-table-column label="Name">
        <template slot-scope="scope">{{ scope.row.name }}</template>
      </el-table-column>

      <el-table-column label="Email">
        <template slot-scope="scope">{{ scope.row.email }}</template>
      </el-table-column>
      <el-table-column class-name="status-col" label="Rating" width="110" align="center">
        <template slot-scope="scope">
          <el-rate v-model="scope.row.rating" :disabled="true"></el-rate>
        </template>
      </el-table-column>
      <el-table-column label="Join Date">
        <template slot-scope="scope">{{ scope.row.created_at }}</template>
      </el-table-column>
      <el-table-column
        label="Actions"
        align="center"
        width="230"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button type="primary" size="mini" @click="goToDetail(scope.row.id)">Full Details</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { fetchList } from "@/api/users";

export default {
  data() {
    return {
      list: null,
      listLoading: true,
      listQuery: {
        searchBy: "",
        page: 1,
        limit: 10
      }
    };
  },
  created() {
    this.getList();
  },
  methods: {
    getList() {
      this.listLoading = true;
      fetchList(this.listQuery).then(response => {
        this.list = response.data;
        this.listLoading = false;
      });
    },
    handleFilter() {
      this.listQuery.page = 1;
      this.getList();
    },
    goToDetail(id) {
      this.$router.push({ name: "UserDetail", params: { id } });
    }
  }
};
</script>


<style>
.avatar {
  border-radius: 100%;
  min-width: 40px;
  min-height: 40px;
  max-height: 40px;
  max-width: 40px;
}
</style>
