<template>
  <div class="app-container">
    <Schedules></Schedules>
  </div>
</template>

<script>
import Schedules from "@/components/Schedules";

export default {
  components: {
    Schedules
  }
};
</script>

<style>
</style>
