<template>
  <el-card :body-style="{padding : '0'}" shadow="never">
    <div slot="header">
      <span>Activities</span>
      <el-button
        style="float: right; padding: 3px 0"
        type="text"
        @click="dialogFormVisible = true"
      >Assign New Activity</el-button>
    </div>
    <el-table
      v-loading="listLoading"
      :data="list"
      highlight-current-row
      element-loading-text="Loading"
      style="width: 100%;padding-top: 15px;"
    >
      <el-table-column label="Icon">
        <template slot-scope="scope">
          <img :src="scope.row.icon" class="icon">
        </template>
      </el-table-column>
      <el-table-column label="Name">
        <template slot-scope="scope">{{ scope.row.name }}</template>
      </el-table-column>
      <el-table-column label="Actions">
        <template slot-scope="scope">
          <el-button size="mini" type="danger" @click="dissociate(scope.row)">dissociate</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog title="Manage activities" :visible.sync="dialogFormVisible" v-if="!listLoading">
      <el-checkbox-group v-model="tempAssign" size="small">
        <el-checkbox
          v-for="activity in filteredList"
          :key="activity.id"
          :label="activity.name"
          border
        ></el-checkbox>
      </el-checkbox-group>

      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">Cancel</el-button>
        <el-button type="primary" @click="assignTemp">Assign</el-button>
      </div>
    </el-dialog>
  </el-card>
</template>

<script>
import { activities } from "@/api/providers";
import { assign, fetchList as getActivities } from "@/api/activities";

export default {
  data() {
    return {
      list: null,
      listLoading: true,
      dialogFormVisible: false,
      tempAssign: [],
      activities: []
    };
  },
  computed: {
    filteredList() {
      return this.activities.filter(activity => {
        return this.list.findIndex(ac => ac.id == activity.id) == -1;
      });
    }
  },
  methods: {
    getList() {
      this.listLoading = true;
      activities(this.$route.params.id).then(response => {
        this.list = response;

        this.listLoading = false;
      });
    },

    assign() {
      let listIds = this.list.map(ac => ac.id);

      assign(this.$route.params.id, listIds).then(() => {
        this.$notify({
          title: "Done",
          message: "ActivityList Updated",
          type: "success",
          duration: 4000
        });
      });
    },
    assignTemp() {
      let list = this.tempAssign.map(t => {
        return this.activities.find(ac => ac.name == t);
      });
      this.list = this.list.concat(list);

      this.dialogFormVisible = false;

      this.tempAssign = [];

      this.assign();
    },
    dissociate(activity) {
      this.list.splice(this.list.indexOf(activity), 1);

      this.assign();
    },
    lazyLoadActivities() {
      getActivities().then(response => {
        this.activities = response;
      });
    }
  },
  created() {
    this.getList();

    this.lazyLoadActivities();
  }
};
</script>


<style>
.icon {
  width: 50px;
  border-radius: 100%;
}
.el-checkbox {
  margin: 10px;
}
</style>
