<template>
  <div>
    <div class="filter-container">
      <div class="filter-item">
        <el-input
          placeholder="Search By Transaction"
          v-model="listQuery.trans"
          clearable
          style="width: 400px;"
          @keyup.enter.native="handleFilter"
          @clear="handleFilter"
        >
          <el-button type="primary" slot="append" icon="el-icon-search" @click="handleFilter"></el-button>
        </el-input>
      </div>
      <el-date-picker
        v-model="listQuery.dateRange"
        style="margin: 10px;"
        type="daterange"
        start-placeholder="Start Date"
        end-placeholder="End Date"
        :unlink-panels="true"
        @change="handleFilter"
      ></el-date-picker>
    </div>
    <el-table
      v-loading="listLoading"
      :data="list"
      fit
      highlight-current-row
      element-loading-text="Loading"
      @sort-change="sortChange"
      style="width: 100%;padding-top: 15px;"
    >
      <el-table-column label="Receipt #" min-width="200">
        <template slot-scope="scope">{{ scope.row.receipt_id }}</template>
      </el-table-column>

      <el-table-column label="User" min-width="100" v-if="showUser">
        <template slot-scope="scope">
          <el-button class="user-card" size="small">{{ scope.row.user.name | truncate }}</el-button>
        </template>
      </el-table-column>
      <el-table-column label="From">
        <template slot-scope="scope">{{ scope.row.start_at_hour }}</template>
      </el-table-column>
      <el-table-column label="To">
        <template slot-scope="scope">{{ scope.row.end_at_hour }}</template>
      </el-table-column>
      <el-table-column label="Amount" width="195" align="center">
        <template slot-scope="scope">{{ scope.row.court.price }}</template>
      </el-table-column>
      <el-table-column label="Date" prop="started_at" sortable="custom">
        <template slot-scope="scope">{{ scope.row.dateformatted }}</template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="listQuery.page"
      :limit.sync="listQuery.limit"
      @pagination="fetchData"
    />
  </div>
</template>

<script>
import { fetchList } from "@/api/schedules";
import pagination from "@/components/Pagination";

export default {
  props:{
    showUser :{
      default:true
    }
  },
  filters: {
    truncate(txt) {
      return txt.substring(0, 10);
    }
  },
  data() {
    return {
      list: null,
      listLoading: true,
      listQuery: {
        providerId: "",
        trans: "",
        page: 1,
        limit: 10,
        sortBy: "started_at",
        sortOrder: "desc",
        dateRange: []
      },
      total: 0
    };
  },
  created() {
    if ("id" in this.$route.params) {
      this.listQuery.providerId = this.$route.params.id;
    }

    this.fetchData();
  },
  methods: {
    fetchData() {
      this.listLoading = true;
      fetchList(this.listQuery).then(response => {
        this.list = response.data;

        this.total = response.total;

        this.listLoading = false;
      });
    },
    handleFilter() {
      this.listQuery.page = 1;
      this.fetchData();
    },
    sortChange(data) {
      const { prop, order } = data;

      this.listQuery.sortBy = prop;
      if (order === "ascending") {
        this.listQuery.sortOrder = "asc";
      } else {
        this.listQuery.sortOrder = "desc";
      }

      this.handleFilter();
    }
  },
  components: {
    pagination
  }
};
</script>


