<template>
  <div class="app-container">
    <div class="filter-container">
      <el-button @click="handleCreate">New Governorate</el-button>
    </div>
    <div style="margin-bottom:20px;" v-if="!listLoading">
      <el-row :gutter="32">
        <el-col :xs="24" :sm="24" :lg="8">
          <el-card shadow="never">
            <div slot="header">
              <span>providers</span>
            </div>
            <PieChart :opObj="providersChartOptions"></PieChart>
          </el-card>
        </el-col>
        <el-col :xs="24" :sm="24" :lg="8">
          <el-card shadow="never">
            <div slot="header">
              <span>Users</span>
            </div>
            <PieChart :opObj="usersChartOptions"></PieChart>
          </el-card>
        </el-col>
        <el-col :xs="24" :sm="24" :lg="8">
          <el-card shadow="never">
            <div slot="header">
              <span>Challenges</span>
            </div>
            <PieChart :opObj="challengesChartOptions"></PieChart>
          </el-card>
        </el-col>
      </el-row>
    </div>
    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      fit
      highlight-current-row
    >
      <el-table-column label="Name">
        <template slot-scope="scope">{{ scope.row.name }}</template>
      </el-table-column>
      <el-table-column label="# Providers">
        <template slot-scope="scope">{{ scope.row.providers_count }}</template>
      </el-table-column>
      <el-table-column label="# Users">
        <template slot-scope="scope">{{ scope.row.users_count }}</template>
      </el-table-column>
      <el-table-column label="# Challenges">
        <template slot-scope="scope">{{ scope.row.challenges_count }}</template>
      </el-table-column>
      <el-table-column label="Large Detail" min-width="150">
        <template slot-scope="scope">
          <el-button size="mini" @click="goToDetail('Providers' , scope.row.id)">Providers</el-button>
          <el-button size="mini" @click="goToDetail('Challenges' , scope.row.id)">Challenges</el-button>
        </template>
      </el-table-column>
      <el-table-column label="Actions">
        <template slot-scope="scope">
          <el-button type="danger" size="mini" @click="remove(scope.row)">Delete</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog title="New Governorate" :visible.sync="dialogFormVisible">
      <el-form ref="dataForm" :rules="rules" :model="temp" label-position="left" label-width="70px">
        <el-form-item label="Name" prop="name">
          <el-input v-model="temp.name"/>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">Cancel</el-button>
        <el-button type="primary" @click="createGov">Create</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { fetchList, create, remove } from "@/api/governorates";
import PieChart from "@/components/PieChart";

export default {
  data() {
    return {
      list: null,
      listLoading: true,
      providersChartOptions: {},
      usersChartOptions: {},
      challengesChartOptions: {},
      dialogFormVisible: false,
      temp: {
        name: ""
      },
      rules: {
        name: [
          { required: true, message: "Name is required", trigger: "change" }
        ]
      }
    };
  },
  created() {
    this.getList();
  },
  methods: {
    getList() {
      this.listLoading = true;
      fetchList(this.listQuery).then(response => {
        this.list = response;

        this.setChart();

        this.listLoading = false;
      });
    },
    goToDetail(route, filter) {
      this.$router.push({ name: route, params: { filterType: "gov", filter } });
    },
    remove(gov) {
      if (
        gov.challenges_count > 0 ||
        gov.providers_count > 0 ||
        gov.users_count > 0
      ) {
        this.$notify({
          title: "Can't Delete This gov",
          message: "it has challenges , providers or users",
          type: "error",
          duration: 8000
        });
        return;
      }

      this.$confirm(`Are you sure to remove ${gov.name} ?`).then(_ => {
        this.list.splice(this.list.findIndex(ac => gov.id == ac.id), 1);

        remove({ id: gov.id }).then(() => {
          this.$notify({
            title: "Done",
            message: "Gov Has Been Removed",
            type: "success",
            duration: 2000
          });
        });
      });
    },
    handleCreate() {
      this.temp = { name: "" };
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs["dataForm"].clearValidate();
      });
    },
    createGov() {
      const loading = this.$loading({
        lock: true,
        text: "Creating Governorate",
        background: "rgba(0, 0, 0, 0.7)"
      });

      create(this.temp).then(gov => {
        this.list.push({
          ...gov,
          challenges_count: 0,
          providers_count: 0,
          users_count: 0
        });
        loading.close();
        this.dialogFormVisible = false;
        this.$notify({
          title: "Done",
          message: "Governorate Has Been Created",
          type: "success",
          duration: 2000
        });

        this.setChart();
      });
    },
    setChart() {
      this.providersChartOptions = this.chartStub("providers_count");
      this.usersChartOptions = this.chartStub("users_count");
      this.challengesChartOptions = this.chartStub("challenges_count");
    },

    chartStub(measure) {
      return {
        tooltip: {
          trigger: "item",
          formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
          left: "center",
          bottom: "10",
          data: this.list.map(gov => gov.name)
        },
        calculable: true,
        series: [
          {
            type: "pie",
            roseType: "radius",
            radius: [15, 95],
            center: ["50%", "38%"],
            data: this.list.map(gov => {
              return { value: gov[measure], name: gov.name };
            }),
            animationEasing: "cubicInOut",
            animationDuration: 2600
          }
        ]
      };
    }
  },
  components: {
    PieChart
  }
};
</script>

<style>
.chart-wrapper {
  background: #fff;
  padding: 16px 16px 0;
  margin-bottom: 32px;
}
</style>

