<template>
  <div class="app-container">
    <el-card class="panel" v-loading="loading">
      <el-row :gutter="8" v-if="!loading">
        <el-col
          :xs="{span: 24}"
          :sm="{span: 24}"
          :md="{span: 24}"
          :lg="{span: 6}"
          :xl="{span: 12}"
          style="padding-right:8px;margin-bottom:30px;"
        >
          <img class="provider-image" :src="provider.avatar" alt>
        </el-col>
        <el-col
          :xs="{span: 24}"
          :sm="{span: 12}"
          :md="{span: 12}"
          :lg="{span: 12}"
          :xl="{span: 6}"
          style="margin-bottom:30px;"
        >
          <h2>{{provider.name}}</h2>

          <el-tag>{{ provider.gov[0].name }}</el-tag>
          <el-tag>{{ provider.email }}</el-tag>
          <el-tag>{{ provider.number }}</el-tag>
        </el-col>
      </el-row>
    </el-card>
    <el-card :body-style="{padding : '0'}" shadow="never" style="margin-bottom:20px;">
      <div slot="header">
        <span>Courts</span>
      </div>
      <courts :showFilter="false"></courts>
    </el-card>

    <Activity style="margin-bottom:20px;"></Activity>

    <el-card :body-style="{padding : '0'}" shadow="never">
      <div slot="header">
        <span>Schedules</span>
      </div>
      <schedules></schedules>
    </el-card>
  </div>
</template>

<script>
import Schedules from "@/components/Schedules";
import Courts from "@/components/Courts";
import Activity from "@/components/Activity";
import { get } from "@/api/providers";
export default {
  data() {
    return {
      loading: true,
      provider: null
    };
  },
  methods: {
    loadProvider() {
      get(this.$route.params.id).then(provider => {
        this.provider = provider;

        this.loading = false;
      });
    }
  },
  created() {
    this.loadProvider();
  },
  components: {
    Schedules,
    Courts,
    Activity
  }
};
</script>

<style lang="scss">
.panel {
  margin-bottom: 60px;
  min-height: 200px;
  img {
    border-radius: 100%;
    border: 5px solid gainsboro;
    min-width: 120px;
    max-width: 120px;
  }
}

.provider-image {
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
}
</style>

