<template>
  <div class="app-container">
    <div class="filter-container">
      <div class="filter-item">
        <el-input
          :placeholder="'Search By ' + listQuery.searchBy"
          v-model="listQuery.searchKey"
          clearable
          style="width: 400px;"
          @keyup.enter.native="handleFilter"
          @clear="handleFilter"
        >
          <el-select
            style="width:100px;"
            v-model="listQuery.searchBy"
            slot="prepend"
            placeholder="Select"
          >
            <el-option label="Name" value="name"></el-option>
            <el-option label="Email" value="email"></el-option>
            <el-option label="Number" value="phone_number"></el-option>
          </el-select>
          <el-button type="primary" slot="append" icon="el-icon-search" @click="handleFilter"></el-button>
        </el-input>
      </div>

      <el-select
        style="width:200px;"
        v-model="listQuery.activity"
        placeholder="Filter By Activity"
        class="filter-item"
        @change="handleFilter"
        :clearable="true"
      >
        <el-option
          v-for="activity in activities"
          :key="activity.id"
          :label="activity.name"
          :value="activity.id"
        />
      </el-select>
      <el-select
        style="width:200px;"
        v-model="listQuery.gov"
        class="filter-item"
        placeholder="Filter By Gov"
        @change="handleFilter"
        :clearable="true"
      >
        <el-option v-for="gov in govs" :key="gov.id" :label="gov.name" :value="gov.id"/>
      </el-select>
      <el-button
        class="filter-item"
        style="margin-left: 10px;"
        type="primary"
        icon="el-icon-edit"
        @click="handleCreate"
      >Create Provider</el-button>
    </div>
    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      fit
      highlight-current-row
      @sort-change="sortChange"
    >
      <el-table-column align="center" prop="id" sortable="custom" label="ID" width="95">
        <template slot-scope="scope">{{ scope.row.id }}</template>
      </el-table-column>
      <el-table-column label="Name" prop="name" sortable="custom">
        <template slot-scope="scope">{{ scope.row.name }}</template>
      </el-table-column>
      <el-table-column label="Email">
        <template slot-scope="scope">{{ scope.row.email }}</template>
      </el-table-column>
      <el-table-column label="Phone Number">
        <template slot-scope="scope">{{ scope.row.phone_number }}</template>
      </el-table-column>
      <el-table-column label="Rating" prop="rate" sortable="custom" width="110" align="center">
        <template slot-scope="scope">
          <el-rate v-model="scope.row.rate" :disabled="true"></el-rate>
        </template>
      </el-table-column>
      <el-table-column label="Join Date" prop="created_at" sortable="custom">
        <template slot-scope="scope">{{ scope.row.created_at }}</template>
      </el-table-column>
      <el-table-column
        label="Actions"
        align="center"
        width="230"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="scope">
          <el-button type="primary" size="mini" @click="goToDetail(scope.row.id)">Full Details</el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="listQuery.page"
      :limit.sync="listQuery.limit"
      @pagination="getList"
    />

    <el-dialog title="New Provider" :visible.sync="dialogFormVisible">
      <el-form
        ref="dataForm"
        :rules="rules"
        :model="temp"
        label-position="left"
        label-width="70px"
        style="width: 400px; margin-left:50px;"
      >
        <el-form-item label="Name" prop="name">
          <el-input v-model="temp.name"/>
        </el-form-item>
        <el-form-item label="Email" prop="email">
          <el-input v-model="temp.email"/>
        </el-form-item>
        <el-form-item label="Phone Num" prop="phone_number">
          <el-input v-model="temp.phone_number"/>
        </el-form-item>
        <el-form-item label="Password" prop="password">
          <el-input v-model="temp.password"/>
        </el-form-item>

        <el-form-item label="Government" prop="gov">
          <el-select v-model="temp.gov" class="filter-item" placeholder="Please select">
            <el-option v-for="gov in govs" :key="gov.id" :label="gov.name" :value="gov.id"/>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">Cancel</el-button>
        <el-button type="primary" @click="createProvider">Create</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { fetchList as getProviders, create } from "@/api/providers";
import { fetchList as getGovs } from "@/api/govs";
import { fetchList as getActivities } from "@/api/activities";
import pagination from "@/components/Pagination";

export default {
  data() {
    return {
      list: null,
      govs: [],
      activities: [],
      listLoading: true,
      total: 0,
      dialogFormVisible: false,

      listQuery: {
        searchKey: "",
        searchBy: "name",
        sortBy: "id",
        sortOrder: "asc",
        limit: 20,
        page: 1,
        activity: "",
        gov: ""
      },
      temp: {
        name: "",
        email: "",
        phone_number: "",
        password: "",
        gov: 0
      },
      rules: {
        gov: [
          { required: true, message: "Gov is required", trigger: "change" }
        ],
        name: [
          {
            required: true,
            message: "Provider Name is required",
            trigger: "blur"
          }
        ],
        email: [
          {
            required: true,
            message: "Provider Email is required",
            trigger: "blur"
          }
        ],
        password: [
          {
            required: true,
            message: "Provider Password is required",
            trigger: "blur"
          }
        ]
      }
    };
  },
  created() {
    this.checkRouteFilters();

    this.getList();

    this.lazyLoadGovs();

    this.lazyLoadActivities();
  },
  methods: {
    checkRouteFilters() {
      if (
        "filterType" in this.$route.params &&
        "filter" in this.$route.params
      ) {
        this.listQuery[
          this.$route.params.filterType
        ] = this.$route.params.filter;
      }
    },
    lazyLoadGovs() {
      getGovs().then(response => {
        this.govs = response;
      });
    },
    lazyLoadActivities() {
      getActivities().then(response => {
        this.activities = response;
      });
    },
    getList() {
      this.listLoading = true;
      getProviders(this.listQuery).then(response => {
        this.list = response.data;
        this.total = response.total;
        this.listLoading = false;
      });
    },
    handleFilter() {
      this.listQuery.page = 1;
      this.getList();
    },
    sortChange(data) {
      const { prop, order } = data;

      this.listQuery.sortBy = prop;
      if (order === "ascending") {
        this.listQuery.sortOrder = "asc";
      } else {
        this.listQuery.sortOrder = "desc";
      }

      this.handleFilter();
    },
    resetTemp() {
      this.temp = {
        name: "",
        email: "",
        phone_number: "",
        password: "",
        gov: this.govs[0]
      };
    },
    handleCreate() {
      this.resetTemp();
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs["dataForm"].clearValidate();
      });
    },
    createProvider() {
      this.$refs["dataForm"].validate(valid => {
        if (valid) {
          create(this.temp).then(() => {
            this.list.unshift(this.temp);
            this.dialogFormVisible = false;
            this.$notify({
              title: "Done",
              message: "Provider Has Been Created",
              type: "success",
              duration: 2000
            });
          });
        }
      });
    },
    goToDetail(id) {
      this.$router.push({ name: "ProviderDetail", params: { id } });
    }
  },
  components: {
    pagination
  }
};
</script>
